<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Crawl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>    
    <!--<add key="PlayoutIP" value="10.74.186.130" />-->
    <!--<add key="PlayoutIP" value="172.22.165.67" />-->
    <add key="PlayoutIP" value="127.0.0.1"/>
    <add key="PlayoutPort" value="1004" />
    <add key="MaxRounds" value="2"/>
    <add key="TeamCount" value="30"/>
  </appSettings>
      
  <connectionStrings>
    <add name="SDRDbConn" connectionString="Data Source=SDRTEST;User ID=espnews;Password=espnews"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <Crawl.Properties.Settings>
      <setting name="ShowRd1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowRd2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowMessage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Message" serializeAs="String">
        <value />
      </setting>
    </Crawl.Properties.Settings>
  </userSettings>
</configuration>
