<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Crawl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>    
    <!--<add key="PlayoutIP" value="10.74.186.130" />-->
    <!--<add key="PlayoutIP" value="172.22.165.67" />-->
    <add key="PlayoutIP" value="10.78.119.179"/>
    <add key="PlayoutPort" value="1004" />
    <add key="MaxRounds" value="7"/>
    <add key="TeamCount" value="32"/>
    <add key="DefaultBackground" value="Images\still_ele\CRAWL_new_16x9_safe_ele\RED_CRAWL_keyable_16x9_safe_ele.tga"/>
    <add key="DefaultChip" value="Images\still_ele\CRAWL_new_16x9_safe_ele\ESPN_crawl_logo_ele.tga"/>
    <add key="CoorsLightBackground" value="Images\still_ele\CRAWL_new_16x9_safe_ele\RED_CRAWL_keyable_16x9_safe_ele.tga"/>
    <add key="CoorsLightChip" value="Images\still_ele\CRAWL_new_16x9_safe_ele\COORS_LIGHT_crawl_logo_ele.tga"/>
    <add key="BudLightBackground" value="Images\still_ele\CRAWL_new_16x9_safe_ele\2013BLUE_budlight_CRAWL_keyable_16x9_safe_ele"/>
    <add key="BudLightChip" value="Images\still_ele\CRAWL_new_16x9_safe_ele\2013BUD_LIGHT_crawl_logo_ele"/>
    <add key="Espn2Background" value="Images\still_ele\CRAWL_new_16x9_safe_ele\RED_CRAWL_keyable_16x9_safe_ele.tga"/>
    <add key="Espn2Chip" value="Images\still_ele\CRAWL_new_16x9_safe_ele\ESPN_crawl_logo_ele.tga"/>
  </appSettings>
      
  <connectionStrings>
    <add name="SDRDbConn" connectionString="Data Source=SDRTest;User ID=espnews;Password=espnews"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <Crawl.Properties.Settings>
      <setting name="ShowRd1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowRd2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRd7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowMessage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Message" serializeAs="String">
        <value />
      </setting>
    </Crawl.Properties.Settings>
  </userSettings>
</configuration>
